__pycache__/
.vscode/
VOCtrainval_06-Nov-2007
VOCtest_06-Nov-2007
*.pkl
*.7z
*.h5
train2020/
val_test2020/
*.json
cocoapi-master/
results/
models/
*.zip
fashionpedia
fashionpedia
*.jpg
*.png
mmsegmentation/
results*/
processed_data/
cloth3d++_subset/